# Ignore node_modules
node_modules/

# Ignore environment variables and config files
.env
config.js

# Ignore log files
*.log

# Ignore other sensitive files
# Add any other files or directories you want to exclude
